
{{#if loggedIn}}
{{>nav2}}
{{else}}
{{>nav1}}
{{/if}}

{{>forumheader}}
<h1 style="text-align: center;">All Forums</h1>


{{#if forums.length}}
  {{#each forums}}
 <div style="border: solid gray 2px;padding:0 20px;width:80%;    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
; margin:10px 10px;cursor: pointer ;">
  <a href="/view-forum/{{this.id}}" style="text-decoration: none;"><h2>{{this.title}}</h2></a>
 </div>
  {{/each}}
{{else}}
<h1 style="text-align: center;">No Forums Available</h1>

{{/if}}


