<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
</style>
</head>
<body>
<div class="signup-form">
    <form action='/register' method='POST'>
		<h2>Create an Account</h2>
        <div class="form-group">
        	<input type="text" class="form-control input-lg name" name="name" placeholder="Username">
        </div>
		<div class="form-group">
        	<input type="email" class="form-control input-lg email" name="email" placeholder="Email Address">
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg passwd" name="password" placeholder="Password">
            
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign Up</button>
        </div>
    </form>
</div>

</script>
</body>
</html>