<h1>Todo Update page for ID: {{id}}</h1>
<form action={{constructUpdateAPI}} method="POST">
  <input type="text" name="title" value ='{{title}}' required placeholder="title" />
  <input type="text" name="content" value='{{content}}' required placeholder="Blog Content" />
  <input type="submit" value="Update Blog">
</form>