    
<style>
    body{
        padding: 0;
        margin: 0;
    }
    nav{
        height: 60px;
        background-color:rgb(179, 216, 220);
    }
    nav i{
        font-size: 40px;
        margin: 10px 0 0 50px;
        cursor: pointer;
    }
    nav a{
        position: relative;
        bottom: 8px;
        text-decoration: none;
        font-size: 17px;
        color: black;
    }
    nav a:hover{
        text-decoration: none;
        color:black
    }
    nav a button{
        cursor: pointer;
        padding: 4px 10px;
        background-color: rgb(179, 216, 220);
        font-size: 14px;
        font-weight: 700;
        color: black;
    }
    nav #forums{
        margin-left: 800px;
        margin-right: 140px;
        font-weight: 700;
    }
    nav #signup{
        margin-left: 20px;
    }
    nav #login{
        margin-left: 20px;
    }
</style>
<nav>
    <i class="fab fa-foursquare"></i>
    <a id="forums" href="/allforums">Forums</a>
    <a id="signup" href="/signup"><button>SignUp</button></a>
    <a id="login" href="/login"><button>LogIn</button></a>
</nav>